*{
margin:0;
padding:0; 
}
.barra{
        margin-top:0px;
        height:70px;
        width:100%;
        background-color:#525252;
}
.menu{
	position:absolute;
	margin-top:-3%;
	margin-bottom:-20px;
	color:blue;
	font-family:arial;
}
.menu li{
	display:inline;
	margin-left:1090px;
}
.menu li a{
	text-decoration:none;
	color:blue;

	
}
.texto3{
     margin-top:8%;
	 font-size:20px;
	 font-family:arial;
	 margin-left:4%;
}
body{
    background-color: #eff0d5;

}
.barra2{
        margin-top:37px;
        height:30px;
        width:104,5%;
        background-color:#525252;
		margin-left:-52px;
}
#dadospessoais{
	color:#PRETO;
	font-size:20px;
	font-family: tahoma;
	margin-left:5%;
	margin-top:1%;
	position:absolute;